{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block titre_page %}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des produits</h3>
                <div class="card-tools">
                    <a href="{{ path('product_new') }}" class="btn btn-tool btn-sm">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Conditionnement</th>
                            <th>Prix Initial</th>
                            <th>Prix Final</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        
                        <tr onclick="document.location = '{{ path('product_edit', {'id': product.id}) }}';">
                            <td>{{ product.id }}</td>
                            <td>{{ product.nom }}</td>
                            <td>{{ product.conditionnement|number_format(2, ',', '.') }} kg</td>
                            <td>{{ product.prixInit|number_format(2, ',', '.') }} €</td>
                            <td>{{ product.prixFinal|number_format(2, ',', '.') }} €</td>
                        </tr>
                        
                    {% else %}
                        <tr>
                            <td colspan="5">Vide ! </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
{% endblock %}

{% block navbar %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path('product_new') }}" class="nav-link">Ajouter un produit</a>
    </li>
{% endblock %}


