{% extends 'base.html.twig' %}

{% block title %}Choix du jour de commande{% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') %}
{% if jour_distribs is empty %}
    <div class="col-md-12">
        <div class="callout callout-danger">
            <h5>C'est vide !</h5>

            <p>Il n'y a pas de commande en cours !</p>
        </div>
    </div>
{% else %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Choix du jour de commande</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">

                    <thead>
                        <tr>
                            <th>Date limite de commande</th>
                            <th>Date de livraison</th>
                            <th>Poids restant</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for jour_distrib in jour_distribs %}
                        {% if jour_distrib.dateLivraison|date('Y-m-d') >= "now"|date('Y-m-d') %}
                            {% if (jour_distrib.poidRestant < jour_distrib.total or jour_distrib.total == 0) and jour_distrib.date|date('Y-m-d') > "now"|date('Y-m-d') and jour_distrib.closed == false %}
                                <tr onclick="document.location = '{{ path('passe_commande_new', {'idJourDistrib': jour_distrib.id}) }}';">
                                    <td>{{ jour_distrib.date|format_datetime('full', 'none', locale='fr') }}</td>
                                    <td>{{ jour_distrib.dateLivraison ? jour_distrib.dateLivraison|format_datetime('full', 'none', locale='fr') : 'Non renseignée' }}</td>
                                    {% if jour_distrib.total != 0 %}<td>{{ (jour_distrib.total - jour_distrib.poidRestant)|round(1, 'ceil')|default(0)}} kg</td>{% else %} <td>Pas de limite</td>{% endif %}
                                </tr>
                            {% else %}
                                <tr class="table-warning">
                                    <td>{{ jour_distrib.date|format_datetime('full', 'none', locale='fr') }}</td>
                                    <td>{{ jour_distrib.dateLivraison ? jour_distrib.dateLivraison|format_datetime('full', 'none', locale='fr') : 'Non renseignée' }}</td>
                                    {% if jour_distrib.closed == true %}
                                        <td>FERMÉ</td>
                                    {% else %}
                                        <td>COMPLET</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="2">C'est vide !</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
{% endif %}
{% endblock %}

{% block navbar %}

{% endblock %}