{% extends 'base.html.twig' %}
{% block titre_page %}<h3 class="s-0 text-dark">Suivi livraison par produit</h3>{% endblock %}

{% block title %}Suivi livraison par produit{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block body %}
<div class="col-md-12">
{% for jour_distrib in jour_distribs %}
    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title">{{ jour_distrib.date|format_datetime('full', 'none', locale='fr') }}</h3>
            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            </div>
        </div>
        <div class="card card-{{ options_settings.get('color') }} card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                {% for produit in jour_distrib.produits %}
                    {% if produit.id==0 %}{% set active='active' %}{% else %}{% set active='' %}{% endif %}
                    <li class="nav-item">
                        <a class="nav-link {{ active }}" id="custom-tabs-three-{{ produit.id }}-tab" data-toggle="pill" href="#custom-tabs-three-{{ produit.id }}" role="tab" aria-controls="custom-tabs-three-{{ produit.id }}" aria-selected="true">{{ produit.nom }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                {% for produit in jour_distrib.produits %}
                    {% if produit.id==0 %}{% set active='show active'%}{% else %}{% set active='' %}{% endif %}

                    <div class="tab-pane fade  {{ active }}" id="custom-tabs-three-{{ produit.id }}" role="tabpanel" aria-labelledby="custom-tabs-three-{{ produit.id }}-tab">
                        <table class="table table-striped table-sm table-bordered" id="tableau-{{ produit.id }}">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom</th>
                                    <th>Produit</th>
                                    <th>Livrée</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ligneCommande in produit.lignesCommande %}

                                    {% if ligneCommande.livree == null%}
                                        <tr class="table">
                                            <td>{{ ligneCommande.commande.id }}</td>
                                            <td>{{ ligneCommande.commande.user.prenom }} {{ ligneCommande.commande.user.nom }}</br><i><small>{{ ligneCommande.commande.commentaire }}</small></small></td>
                                            <td>
                                                <p>{{ ligneCommande.quantite}} {{ ligneCommande.product.nom }} - {{ ligneCommande.product.conditionnement }}{{ ligne_commande.product.unit }} </p>
                                            </td>
                                            <td>
                                                <a href="{{ path('livree_ligne_commande', { ligneCommande: ligneCommande.id }) }}" onclick="return confirm('Tu lui as vraiment donné ?')"><i class="fas fa-check"></i></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="callout callout-danger">
        <h5>Ya pas de commande !</h5>

        <p>Personne n'a passer de commande</p>
    </div>
{% endfor %}
</div>
{% endblock %}
