{% extends 'base.html.twig' %}
    {% block title %}
        {% if suivi == 1 %}
            Suivi de livrason
        {% elseif suivi == 0 %}
            Toutes mes commandes
        {% else %}
            Synthèse des commandes par date
        {% endif %}
    {% endblock %}

    {% block titre_page %}
        {% if suivi == 1 %}
            <h3 class="s-0 text-dark">Suivi de livraison</h3>
        {% elseif suivi == 0 %}
            <h3 class="s-0 text-dark">Toutes mes commandes</h3>
        {% else %}
            <h3 class="s-0 text-dark">Toutes les commandes par date</h3>
        {% endif %}
    {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}


{% block body %}
<div class="col-md-12">
{% for jour_distrib in jour_distribs %}
    {% if suivi == 2 %}
        <div class="card">
    {% elseif suivi == 1 and jour_distrib.date|date('Y-m-d') != "now"|date('Y-m-d') %}
        <div class="card collapsed-card">
    {% else %}
        <div class="card">
    {% endif %}
        <div class="card-header border-transparent">
            <h3 class="card-title">Commande du {{ jour_distrib.date|format_datetime('full', 'none', locale='fr') }} 
            {{ jour_distrib.dateLivraison ? ' </br>Livraison le ' : '' }} {{ jour_distrib.dateLivraison ? jour_distrib.dateLivraison|format_datetime('full', 'none', locale='fr') : '' }}</h3>
            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            </div>
        </div>

        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-sm table-bordered" id="tableau{{ jour_distrib.id }}">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nom</th>
                            <th>Produit</th>
                            <th>Prix Initial</th>
                            <th>Prix Final</th>
                            {% if suivi == 1 %}
                            <th></th>
                            {% elseif suivi == 2 %}
                            <th>Paiement reçu</th>
                            <th>Livrée</th>
                            {% endif %}
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                    {% if jour_distrib.commandes is defined %}
                        {% for commande in jour_distrib.commandes %}

                            {% if ((commande.livree == false or suivi == 0) and commande.user == app.user) or suivi == 2  %}
                                {% set totalInit = 0 %}
                                {% set totalFinal = 0 %}
                                {% set sommeInit = 0 %}
                                {% set sommeFinal = 0 %}
                                {% if  commande.livree %}
                                <tr class="table-success">
                                {% elseif commande.confirmed %}
                                <tr class="table-warning">
                                {% else %}
                                <tr class="table-danger">
                                {% endif %}
                                    <td>{{ commande.id }}</td>
                                    <td>{{ commande.user.prenom }} {{ commande.user.nom }}</br><i><small>{{ commande.commentaire }}</small></small></td>
                                    <td>
                                    {% for ligne_commande in commande.ligneCommandes %}
                                        {% set sommeInit = ligne_commande.quantite*ligne_commande.product.prixInit %}
                                        {% set sommeFinal = ligne_commande.quantite*ligne_commande.product.prixFinal %}
                                        {% set totalInit = totalInit+sommeInit %}
                                        {% set totalFinal = totalFinal+sommeFinal %}
                                        <p>{{ ligne_commande.quantite}} {{ ligne_commande.product.nom }} - {{ ligne_commande.product.conditionnement }}{{ ligne_commande.product.unit }} 
                                        {% if commande.confirmed %} {% if ligne_commande.livree %}<span class="badge bg-success">Livrée</span>{% else %}<span class="badge bg-danger">A prendre</span>{% endif %}{% endif %}</p>
                                        </p>
                                    {% endfor %}
                                    </td>
                                    <td>{{ totalInit }} €</td>
                                    <td>{{ totalFinal }} €</td>
                                        {% if suivi == 1 %}
                                        <td>
                                                <a href="{{ path('livree_commande', { commande: commande.id }) }}" onclick="return confirm('Tu lui as vraiment donné ?')"><i class="fas fa-check"></i></a>
                                        </td>
                                        {% elseif suivi == 2 %}
                                        <td class="center">
                                            {% if commande.confirmed %}
                                                <i class="fas fa-check-square"></i><span class='d-none'>1</span>
                                            {% else %}
                                                <a href="{{ path('livree_confirme', { commande: commande.id }) }}" onclick="return confirm('Tu lui as vraiment reçu le chèque ?')"><i class="far fa-square"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if commande.livree %}
                                                <i class="fas fa-check-square"></i><span class='d-none'>1</span>
                                            {% else %}
                                                <i class="far fa-square"></i>
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                        <td>
                                            {% if commande.livree == false %}
                                                {% if jour_distrib.date|date('Y-m-d') >= "now"|date('Y-m-d') %}
                                                    {% if commande.confirmed == false and suivi == 0 %} {{ include('commande/_delete_form.html.twig') }} {% endif %}
                                                    {% if suivi != 0 %} {{ include('commande/_delete_form.html.twig') }} {% endif %}
                                                {% endif %}
                                            
                                                {% if commande.confirmed == true %} 
                                                <span class="badge bg-warning">Validée</span>
                                                {% endif %}

                                            {% else %}
                                            <span class="badge bg-success">Livrée</span>
                                            {% endif %}
                                        </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-md-12">
        <div class="callout callout-danger">
            <h5>Ya pas de commande !</h5>

            <p>Personne n'a passer de commande</p>
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}

{% block navbar %}

{% endblock %}

{% block javascripts %}
{% for jour_distrib in jour_distribs %}
    <script>
    $(function () {
        $('#tableau{{ jour_distrib.id }}').DataTable({
        "dom": 'Bfrtip',
        "buttons": [
            'csv', 'excel', 'pdf'
        ],
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "language": {
            "url": "/French.json"
        },
        "order": [[ 0, "asc" ]],
        });
    });
    </script>
{% endfor %}
{% endblock %}
