{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des utilisateurs</h3>
                <div class="card-tools">
                    <a href="{{ path('app_register') }}" class="btn btn-tool btn-sm">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

                <table class="table data-table table-hover text-nowrap" id="tableau">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Téléphone</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr onclick="document.location = '{{ path('user_show', {'id': user.id}) }}';">
                            <td>{{ user.id }}</td>
                            <td>{{ user.mail }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                {% for role in user.roles %} {{ role|trans }}</br> {% endfor %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
    $(function () {
        $('#tableau').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "language": {
            "url": "/French.json"
        },
        "order": [[ 0, "asc" ]],
        });
    });
    </script>
{% endblock %}